<div id="federal" ng-init="xstate.messages=''">
  <div style="position:relative;padding:.4em 0;" class="{{xstate.party}}">
    <div style="cursor:pointer;width:100%;text-align:center;position:relative;font-size:1.25em;line-height:1.25em;padding:.25em 0;font-weight:bold;font-family: 'Comfortaa', cursive;letter-spacing:1px;" ng-click="viewGov(xstate.id)" class="xstate-head">{{xstate.name}}</div>
  </div>
  <div ui-sref="xstate({xstate:xstate.uid})" style="position:relative;background-color:#191919;color:#fff;padding:.5em 0;">
    <div class="fa fa-1x fa-angle-left" style="position:absolute;left:.5em;top:.2em;font-weight:bold;color:#fff;"></div>
    <div style="cursor:pointer;width:100%;text-align:center;position:relative;font-size:1.25em;line-height:1.25em;padding:.25em 0;" ng-click="viewGov(xstate.id)" class="xstate-head">Quejas</div>
  </div>
  <div style="height:{{windowHeight-40}}px;">
    <ul class="submenu" style="background-color:#fff;margin:0;padding:1em 0 0 0;">
    </ul>
  </div>
</div>
