.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
.pan {
  background-color:#06338E;
  color:#fff;
}
.pri {
  background-color:#D23026;
  color:#fff;
}
.prd {
  background-color:#f7cf00;
  color:#222;
}
.pop {
  background-color:#F04C23;
  color:#fff;
}
.pvem {
  background-color: #00923F;
  color:#fff;
}
.ind {
  background-color:#000;
  color:#fff;
}
#federal{
  margin:0;
  padding:0;
  background-color: white;
  color: #222;
  height:100%;
  position:relative;

  .xstate-header {
    padding:.4em 0;
  }
  .xitems {
    margin-top:1em;
    .xitem {
      position:relative;
      cursor:pointer;
      text-align:left;
      border-bottom:1px solid #ddd;
      font-size:1.25em;
      padding-left:.15em;
      .fa-angle-right {
        color:#ccc;
      }
    }
  }
  .xbuttons {
    .xitem {
      margin:1em;
      padding:.5em;
      border-radius: 6px;
      font-size:1.5em;
      text-align: left;
      position:relative;
    }
  }
  .govs-header {
    position:fixed;
    width:100%;
    z-index:10;
    background-color: #000;
    color: #fff;
    height: 1.5em;
    text-align: center;
    font-size:2em;
    span {
      font-family: 'Comfortaa', cursive;
    }

    .fa-bars {
      position:absolute;
      left:0;
      top:0;
      padding:.3em;
      color:#fff;
    }

    .govs-header-menu {
      height:10em;
    }
  }

  .govs-subheader {
    font-size:1em;
    height:3em;
    line-height: 3em;
    color:#777;
    letter-spacing: 1px;
    background-color: #222;
  }

  .xidea {
    width:20em;
    margin:.75em auto;
    text-align: left;
    color:#aaa;
    .fa {
      color:red;
      padding-right:.5em;
    }
  }
  .govs li {
    color:#444;
    border-bottom:1px solid #eee;
    font-size: 1.25em;
    .grade {
      color:#aaa;
    }
    img {
      width:1.75em;
    }
    .submenu {
      padding:2em 0 1em 0;
      height:10em;
    }
    .panchos {
      font-size:1.5em;
      color:#888;
      b {
        color:#444;
      }
    }
    .xstate-head {
      padding-left:0em;
      height:2em;
      font-weight:bold;
      text-align:center;
      border-bottom:1px solid #eee;
      margin:0;
    }
  }
  .govs li:first-child {
    background-color:#000;
    color:#fff;
    border:none;
    padding-top:3em;
    .grade {
      color:#fff;
    }
    .fa-angle-right, .fa-angle-down {
      color:#fff;
    }
    .fa-angle-right {
      color:#fff;
    }
    .panchos {
      color:#888;
      b {
        color:#444;
      }
    }
    .submenu {
      margin:0 -.5em;
    }
    .xstate-head {
      border-bottom: none;
    }
  }

  .govs .grade:first-child {
    color:#fff;
  }

  .xstate {
    padding:.7em 2em;
    .xgrade {
      font-size:.75em;
      text-align:center;
      background-color: #222;
      border-radius:6px;
      padding:0 0 1.2em 0;

      .panchos {
        margin-top:-.5em;
        line-height: 1em;
      }
    }
    .xavg {
      color: #fff;
      font-size:3em;
    }
    .xinfo {
      height:4em;
      text-align:center;
      font-size:.9em;
      .vato {
        padding-top:.5em;
        color:#000;
      }
    }

    .xoption {
      padding:0 1em;
      margin:2em 0;
      span {
        font-size:2em;
      }

      .col-xs-6 {

        &:first-child {
          padding-right:1em;
        }

        &:last-child {
          padding-left:1em;
        }

        .xitem {
          background-color:#222;
          color:#999;
          border-radius: 6px;
          cursor:pointer;
          span {
            color:#fff;
          }
          .xlabel {
            margin-top:-.5em;
            padding-bottom:.5em;
            font-size: 1em;
          }
          &:hover {
            background-color: #999;
            color:#222;
          }
        }
      }
    }
  }

  .state {
    background-color:#fff;
    color:#666;
    margin:0;
    text-align:left;
    font-size:1.5em;
    height:2.5em;
    line-height: 2.5em;
    padding-left: .5em;
  }

  .grade {
    float:right;
    margin-right:.75em;
    font-size: 1.2em;
    padding:0 .5em;
    border-radius: 2em;
    margin-top:-1.3em;
  }

  .fa-angle-left {
    color:#222;
    float:left;
    padding:.35em 0;
    font-size:1.5em;
    position:absolute;
    top:.5em;
    left:.5em;
  }

  .fa-angle-right {
    float:right;
    color:#222;
    margin-top:-1.25em;
    padding-right:0;
    cursor:pointer;
  }

  .fa-angle-down {
    margin-top:-1.8em;
  }
}

.myscore {
  padding:0 2em;
  table {
    width:100%;
    // border:1px solid #333;
    // border-radius:2px;
    tr {
      border-bottom:1px solid #333;
      height:1.55em;
      &.active {
        color:#fb4f04;
      }
      td:first-child {
        width:80%;
        padding-left:.5em;
      }
      td:last-child {
        text-align: right;
        padding-right:.5em;
        color:#333;
        .active {
          color:#fb4f04;
        }
      }
      td:nth-child(2) {
        text-align: center;
      }
    }
  }
  a {
    text-decoration: none;
    color:#fff;
  }
  .btn {
    background-color: #fff;
    color:#222;
  }
  .btn-default {
    background-color: #fb4f04;
    color:#fff;
  }
}
