<div id="federal" ng-init="xstate.messages=''">
  <div style="position:fixed;width:100%;">
    <div style="position:relative;padding:.4em 0;" class="{{xstate.party}}">
      <div style="cursor:pointer;width:100%;text-align:center;position:relative;font-size:1.25em;line-height:1.25em;padding:.25em 0;font-weight:bold;font-family: 'Comfortaa', cursive;letter-spacing:1px;" ng-click="viewGov(xstate.id)" class="xstate-head">{{xstate.name}}</div>
    </div>
    <div ui-sref="xstate({xstate:xstate.uid})" style="position:relative;background-color:#191919;color:#fff;padding:.5em 0;">
      <div class="fa fa-1x fa-angle-left" style="position:absolute;left:.5em;top:.2em;font-weight:bold;color:#fff;"></div>
      <div style="cursor:pointer;width:100%;text-align:center;position:relative;font-size:1.25em;line-height:1.25em;padding:.25em 0;" ng-click="viewGov(xstate.id)" class="xstate-head">Municipios</div>
    </div>
  </div>
  <div style="height:{{windowHeight-40}}px;padding-top:2.95em;">
    <ul class="govs accordion" style="padding:0;margin:0;">
      <li id="gov{{m.id}}" ng-click="loadMunicipio(m.id)" ng-repeat="m in xstate.municipios" class="js-accordion-trigger">
        <div style="cursor:pointer;" ng-click="loadMunicipio(m.id)"><img src="assets/images/{{m.party}}.png"> {{m.name}}</div>
        <div class="fa fa-1x fa-angle-right" ng-click="loadMunicipio(m.id)"></div>
      </li>
    </ul>
  </div>
</div>
