<div id="app" ng-init="simon=false" ng-hide="simon">
  <div class="toplinks hidden-xs">
    <div class="links">
      <ul>
        <li>Login</li>
        <li ng-click="simon=true">Gobiernos</li>
      </ul>
    </div>
  </div>

  <!-- <div ng-include="'main/main.html'"></div> -->
  <div class="xbanner" ng-click="simon=true">
    <header id="banner">
      <div class="xcontainer" style="text-align:center;margin:0;padding:0;padding:.5em 0;">
        <img class="pancho" src="assets/images/panchox.png" alt="Pancho"/>
        <h1 style="color:#000;f0f5f9;margin:0;padding:0;width:100%;font-family: 'Comfortaa', cursive;">pancho</h1>
        <div class="xslogan">
          <p class="lead" style="font-size:1em;padding-top:2.5em;margin-bottom:0;line-height:1.5em;color:#fff;2a2a2a;letter-spacing:2px;margin:-1.5em 0 -1em 0;"> Evalua tu gobierno</p><br>
        </div>
      </div>
    </header>
  </div>

  <div class="visible-xs" style="width:100%;">
    <a class="btn btn-xlarge" style="width:80%;" ng-click="simon=true">Gobiernos</a>
    <a class="btn btn-xlarge" style="width:80%;margin-top:1em;">Login</a>
  </div>
  <!-- <div class="xslogan">
    <p class="lead" style="font-size:1em;padding-top:1em;margin-bottom:0;line-height:1.5em;color:#2a2a2a;letter-spacing:2px;margin:-1.5em 0 -1em 0;"> Evalua tu gobierno</p><br>
    <div class="tres" style="font-weight:bold;font-size:1.5em;margin-top:.2em;">
      <span>municipal</span> <span>estatal</span> <span>federal</span>
    </div>
  </div> -->
  <!-- <div ng-click="simon=true" style="cursor:pointer;position:absolute;bottom:1em;color:#fff;width:100%;text-align:center;"><i class="fa fa-2x fa-arrow-down"></i></div> -->
  <!-- <div class="xmenu" style="border-top:3px solid {{borderColor}};">
    <ul>
      <li ui-sref="govs" ng-class="{active: location.path()==='/gobiernos'}">
        <i class="fa fa-2x fa-building-o"></i>
        <div><span>Gobiernos</span></div>
      </li>
      <li ui-sref="suggestions" ng-class="{active: location.path()==='/sugerencias'}">
        <i class="fa fa-2x fa-lightbulb-o"></i>
        <div><span>Sugerencias</span></div>
      </li>
      <li ui-sref="forums" ng-class="{active: location.path()==='/foros'}">
        <i class="fa fa-2x fa-comments-o"></i>
        <div><span>Foros</span></div>
      </li>
      <li ui-sref="stats" ng-class="{active: location.path()==='/estadisticas'}">
        <i class="fa fa-2x fa-bar-chart-o"></i>
        <div><span>Estadisticas</span></div>
      </li>
    </ul>
  </div> -->
</div>
<div ng-show="simon" ui-view="" style="max-width:800px;margin:0 auto;border-left-radius:6px;border-right-radius:6px;"></div>
