// $fa-font-path: "../bower_components/font-awesome/fonts";
// @import '../bower_components/font-awesome/scss/font-awesome';
//
// /**
//  * App-wide Styles
//  */
//
// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }
//
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }
//
// // Component styles are injected through grunt
// // injector
 @import 'forums/forums.scss';
 @import 'govs/accordion.scss';
 @import 'govs/govs.scss';
 @import 'home/home.scss';
 @import 'main/main.scss';
 @import 'stats/stats.scss';
 @import 'suggestions/suggestions.scss';
 @import '../components/footer/footer.scss';
 // endinjector
 // @import 'bourbon';

 @mixin linear-gradient($direction, $color-stops...) {
   // Direction has been omitted and happens to be a color-stop
   @if is-direction($direction) == false {
     $color-stops: $direction, $color-stops;
     $direction: 180deg;
   }

   background: nth(nth($color-stops, 1), 1);
   background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
   background: linear-gradient($direction, $color-stops);
 }

 .btn-xlarge {
     padding: 18px 28px;
     font-size: 22px; //change this to your desired size
     line-height: normal;
     width:80%;
     -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
             border-radius: 8px;
     background-color: #fff !important;
     color:#000 !important;
 }

 body {
   font-family: 'Source Sans Pro', sans-serif;
   margin:0;
   background-color:#fff;//3b3b3b;//050505;//#191919;//1e2022;
   height:100%;

   .toplinks {
     height:3em;
     background-color:#fb4f04;//191919;
     position:fixed;
     top:0;
     left:0;
     width:100%;

     .links {
       max-width:800px;
       margin:0 auto;
       ul {
        color:#000;
       }
     }
   }
 }

 .top-line {
   @include linear-gradient(#333, #000);
  //  height:3em;
 }

 #app {
   max-width:800px;
   margin:0 auto;
   text-align:center;
   position:relative;
   ul {
     list-style-type: none;
     li {
       float:right;
       color:#fff;
       line-height: 2em;
       padding-right:1em;
       width:5.5em;
       cursor:pointer;
     }
   }
 }
