// $fa-font-path: "../bower_components/font-awesome/fonts";
// @import '../bower_components/font-awesome/scss/font-awesome';
//
// /**
//  * App-wide Styles
//  */
//
// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }
//
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }
//
// // Component styles are injected through grunt
// // injector
 @import 'forums/forums.scss';
 @import 'govs/govs.scss';
 @import 'home/home.scss';
 @import 'main/main.scss';
 @import 'stats/stats.scss';
 @import 'suggestions/suggestions.scss';
 @import '../components/footer/footer.scss';
 // endinjector
 // @import 'bourbon';

 @mixin linear-gradient($direction, $color-stops...) {
   // Direction has been omitted and happens to be a color-stop
   @if is-direction($direction) == false {
     $color-stops: $direction, $color-stops;
     $direction: 180deg;
   }

   background: nth(nth($color-stops, 1), 1);
   background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
   background: linear-gradient($direction, $color-stops);
 }

 body {
   font-family: 'Source Sans Pro', sans-serif;
 }

 .top-line {
   @include linear-gradient(#333, #000);
  //  height:3em;
 }
