.xbanner

  header#banner.hero-unit(style="position:relative;background-color:#393e46;margin:0;")
    .container(style="")
      img(src='assets/images/pancho.png', alt='Soy Pancho', style="height:11em;background-color:#000;padding:.5em;border-radius:6em;")
      h1(style="color:#f0f5f9;margin:0;font-family: 'Comfortaa', cursive;") pancho
      p.lead(style="text-transform:uppercase;padding-top:.5em;margin-bottom:0;line-height:1.5em;color:#000;") Evalua tu gobierno<br><span style="color:#00c176">municipal</span> <span style="color:#fff">estatal</span> <span style="color:#ff003c">federal</span>

.simon(style="color:#333;position:fixed;bottom:1em;width:100%;")
  .x(style="text-align:center;color:#52616b") &copy; Copyright
    a(href='http://1910.io', style="padding-left:.25em;color:#c9d6df;text-decoration:none;") 1910.io
